In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../Data/911.csv')

In [4]:
df.head(3)

,lat,lng,desc,zip,title,timeStamp,twp,addr,e
0,40.297876,-75.581294,REINDEER CT & DEAD END; NEW HANOVER; Station ...,19525.0,EMS: BACK PAINS/INJURY,2015-12-10 17:10:52,NEW HANOVER,REINDEER CT & DEAD END,1
1,40.258061,-75.264680,BRIAR PATH & WHITEMARSH LN; HATFIELD TOWNSHIP...,19446.0,EMS: DIABETIC EMERGENCY,2015-12-10 17:29:21,HATFIELD TOWNSHIP,BRIAR PATH & WHITEMARSH LN,1
2,40.121182,-75.351975,HAWS AVE; NORRISTOWN; 2015-12-10 @ 14:39:21-St...,19401.0,Fire: GAS-ODOR/LEAK,2015-12-10 14:39:21,NORRISTOWN,HAWS AVE,1

In [5]:
df.describe(include = 'all')

,lat,lng,desc,zip,title,timeStamp,twp,addr,e
count,266543.000000,266543.000000,266543,234049.000000,266543,266543,266448,266543,266543.0
unique,NaN,NaN,266484,NaN,130,257673,68,31293,NaN
top,NaN,NaN,GERMANTOWN PIKE; WORCESTER; 2017-09-27 @ 17:50...,NaN,Traffic: VEHICLE ACCIDENT -,2016-06-01 16:34:27,LOWER MERION,SHANNONDELL DR & SHANNONDELL BLVD,NaN
freq,NaN,NaN,4,NaN,62218,6,22886,2659,NaN
mean,40.159200,-75.316831,NaN,19235.194429,NaN,NaN,NaN,NaN,1.0
std,0.089112,0.161089,NaN,306.362554,NaN,NaN,NaN,NaN,0.0
min,30.333596,-95.595595,NaN,17555.000000,NaN,NaN,NaN,NaN,1.0
25%,40.100055,-75.393304,NaN,19038.000000,NaN,NaN,NaN,NaN,1.0
50%,40.144296,-75.304635,NaN,19401.000000,NaN,NaN,NaN,NaN,1.0
75%,40.229008,-75.211812,NaN,19446.000000,NaN,NaN,NaN,NaN,1.0
max,41.167156,-74.813670,NaN,77316.000000,NaN,NaN,NaN,NaN,1.0

In [6]:
df.shape

(266543, 9)

In [9]:
df["title"].value_counts().head(10)

Traffic: VEHICLE ACCIDENT -    62218
Traffic: DISABLED VEHICLE -    18923
Fire: FIRE ALARM               15091
EMS: RESPIRATORY EMERGENCY     13503
EMS: CARDIAC EMERGENCY         13420
EMS: FALL VICTIM               13410
EMS: VEHICLE ACCIDENT          10857
Traffic: ROAD OBSTRUCTION -     8209
EMS: SUBJECT IN PAIN            7503
EMS: HEAD INJURY                7048
Name: title, dtype: int64